* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  font-family: Roboto, Lato, Helvetica, Arial, sans-serif;
  color: #030303;
}

html,
body,
#root,
.app {
  min-height: 100vh;
  width: 100%;
}

.app {
  display: flex;
  overflow: hidden;
}

aside {
  width: 300px;
}

.palette {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
}

.shape {
  margin: 10px;
  height: 60px;
  width: 60px;
  border: solid 1px white;
}

.shape2 {
  margin: 10px;
  width: 60px;
}

.shape3 {
  margin: 10px;
  width: 70px;
}

.sticky {
  margin: 10px;
  width: 20px;
  height: 50px;
}

.container {
  margin: 5%;
  margin-top: 5%;
  overflow: auto;
  width: 90%;
  height: 60%;
  border: solid 3px lavender;
}

.panel {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.properties {
  margin-top: 10px;
}

.key {
  color: lightslategray;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  align-items: center;
  height: 25px;
}

.value {
  color: darkslategray;
  font-weight: bolder;
  width: 50%;
}

.no-data {
  color: darkslategray;
}

.canvas {
  width: calc(100% - 300px);
  border: solid 1px lightgray;
  border-top: none;
  border-bottom: none;
  position: relative;
}

.buttons {
  display: flex;
  position: absolute;
  top: 0;
  right: 10px;
}

.buttons button {
  margin: 5px;
  height: 50px;
  text-transform: uppercase;
  cursor: pointer;
  background: lightgray;
  transition: all 0.25s ease-in;
  z-index: 10;
  padding: 0 10px;
  border-radius: 4px;
}

.buttons button:hover {
  background: darkgray;
}
